@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/lato-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("/lato-bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  line-height: 1.5;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fbeeda;
  font-family: "Lato", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
